<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>霉霉</title>
</head>

<body>
    <table border="1">
        <tr>
            <td>
                <h1>BE DEAD!</h1>
            </td>
            <td>
                <audio controls>
                    <source src="../audios/bedead.mp3">
                </audio>
            </td>
        </tr>

        <tr>
            <td>
                <h1>BE DEAD!</h1>
            </td>
            <td>
                <audio controls>
                    <source src="../audios/bedead.mp3">
                </audio>
            </td>
        </tr>

        <tr>
            <td>
                <h1>BE DEAD!</h1>
            </td>
            <td>
                <audio controls>
                    <source src="../audios/bedead.mp3">
                </audio>
            </td>
        </tr>

        <tr>
            <td>
                <h1>BE DEAD!</h1>
            </td>
            <td>
                <audio controls>
                    <source src="../audios/bedead.mp3">
                </audio>
            </td>
        </tr>

        <tr>
            <td>
                <h1>BE DEAD!</h1>
            </td>
            <td>
                <audio controls>
                    <source src="../audios/bedead.mp3">
                </audio>
            </td>
        </tr>

    </table>
</body>

</html>