.countdown-box {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 24px;
  color: #ffffff;
  background-color: #191919;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #191919;
  display: inline-block; /* 让背景框适应文字宽度 */
  position: relative;
  left: 1vw;
}


#write {
  margin: 0px auto;
  height: auto;
  width: inherit;
  word-break: normal;
  overflow-wrap: break-word;
  position: relative;
  white-space: normal;
  overflow-x: visible;
  padding-top: 36px;
  /* 深色主题覆盖 */
  max-width: 860px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 100px;
}

  #write {
    padding-left: 20px;
    padding-right: 20px;
  }